body{
    background-color: #FFF9E4;
    text-align: center;
    margin: 0 auto;
}

h2{
    color: #E38B29;
    font-weight: bold;
    /*margin-top: 5px;*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
    margin: 10px;
    font-size: 40px;
}

h3{
    color: #FFF9E4;
    text-align: center;
    margin: 10px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h4{
    color: #FFF9E4;
    text-align: center;
    margin: 10px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo{
    text-align: center;    
    margin:0 auto;
}

.navIcon{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}


.AllRecipes{
    text-align: center; 
    margin:0 auto;
}
   
.recipe{
    display: inline-block;
    background-color: #E38B29;
    padding: 10px;
    border-radius: 20px;
    margin: 1%;
}

.recipeImage{
    height: 220px;
}

#logoImg {
    height: 200px;
    animation: my-animation 2s ease-in-out infinite;
    animation-iteration-count:1;
  }
  
  @keyframes my-animation {
    0% {
      opacity: 0;
      transform: rotate(-30deg);
    }
    33.333% {
      opacity: 0.5;
      transform: rotate(0deg);
    }
   66.666% {
      opacity: 1;
      transform: rotate(30deg);
    }
    100% {
      opacity: 1.5;
      transform: rotate(0deg);
    }
  }  

@media (max-width: 1000px) and (min-width: 600px){
    .recipeImage{
        height: 160px;
    }
    .recipe{
        padding: 6px;
    }

}


@media (max-width: 600px){
    .recipeImage{
        height: 140px;
    }
    .recipe{
        padding: 6px;
    }
    #logoImg{
        animation: my-animation 2s ease-in-out infinite;
        animation-iteration-count:1;
        height: 100px;
    }
    h2{
        font-size: 25px;
    }
}

