body{
    background-color: #FFF9E4;
    text-align: center;
    margin: 0 auto;
}

h2{
    color: #FFF9E4;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h4{
    color: #FFF9E4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin: 5px;
}

#logoImg {
    height: 200px;
    animation: my-animation 2s ease-in-out infinite;
    animation-iteration-count:1;
  }
  
.LogInBlock{
    background-color: #E38B29;
    border-radius: 20px;
    align-items: center;
    padding: 25px 70px;
}

.loginB {
    background-color: #FFDA77;
    color: #E38B29;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    border-color: #FFDA77;
    padding: 5px 11px;
}

.logo{
    text-align: center;    
    margin:0 auto;
}

.navIcon{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    
}

.InputField{
    display: flex; 
    align-items: flex-start;
    flex-direction: column;

}


@media (max-width: 600px){
    .LogInBlock{
        background-color: #E38B29;
        border-radius: 20px;
        align-items: center;
        padding: 25px 25px;
    }

    #logoImg{
        height: 100px;
        animation: my-animation 2s ease-in-out infinite;
        animation-iteration-count:1;
    }
}


  
  @keyframes my-animation {
    0% {
      opacity: 0;
      transform: rotate(-30deg);
    }
    33.333% {
      opacity: 0.5;
      transform: rotate(0deg);
    }
   66.666% {
      opacity: 1;
      transform: rotate(30deg);
    }
    100% {
      opacity: 1.5;
      transform: rotate(0deg);
    }
  }  